.right_div{
	display: table-cell;
	width: 100%;
}

.top_div{
	background: #20B2AA;
	width: 100%;
	height: 54px;
}

.left_div{
	display: table-cell;
	background: #008B8B;
}

.body_style{
	margin: 0px;
}



.portfolio_button_link_in_top{
	display: block;
	float: right;
	background: #ffffff3a;
	background-size: 175px 50px;
	margin-top: 2px; 
	margin-left: 10px; 
	margin-right: 10px; 
	border: 0px;
	height: 50px;
	width: 175px;
}
.portfolio_button_link_in_top:hover{
	background: #0000003a;
	background-size: 175px 50px;
}
.portfolio_button_link_in_top:active{
	background: #0000003a;
	background-size: 175px 50px;
}



.inst_button_link_in_top{
	display: block;
	float: right;
	background: url(imgs/Instagram_unpressed.png);
	background-size: 175px 50px;
	margin-top: 2px; 
	margin-left: 10px; 
	margin-right: 10px; 
	border: 0px;
	height: 50px;
	width: 175px;
}
.inst_button_link_in_top:hover{
	background: url(imgs/Instagram_pressed.png);
	background-size: 175px 50px;
}
.inst_button_link_in_top:active{
	background: url(imgs/Instagram_pressed.png);
	background-size: 175px 50px;
}




.button_in_top{
	display: table-cell;
	height: 100%;
}
.button_link_in_top{
	border: 0px;
	border-left: 2px;
	border-style: solid;
	float: right; 
	display: block; 
	height: 50px; 
	padding-left: 10px; 
	padding-right: 10px; 
	margin-top: 2px; 
}
